* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #00203fff;
  min-height: 100vh;
}

header {
  padding: 50px;
  text-align: center;
}
header h1 {
  color: #efeeef;
  font-size: 45px;
  padding-bottom: 15px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

div#container {
  min-width: 400px;
  max-width: 400px; /* changed from 700 to 400 */
  height: 100%;
  /* border: 1px solid black; */
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 2px solid white;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

div#result {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: black;
  color: white;
  height: 200px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  padding-bottom: 25px;
}

div#result span {
  align-self: flex-end;
  font-size: 60px;
  padding-right: 20px;
}

div#buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 500px; /*changed from 700 to 500 */
  padding: 15px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  user-select: none;
}

div.button {
  border-radius: 100%;
  border: 1px solid black;
  width: 75px; /*changed from 100 to 75 same below */
  height: 75px;
  font-size: 30px;
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
}

div#bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
}

div.doublebutton {
  width: 180px; /* changed from 230 to 180 */
  height: 75px;
  font-size: 30px;
  /* font-weight: bold; */
  /* display: flex; */
  border-radius: 100px;
  text-align: left;
  align-content: center;
  display: flex;
  align-items: center;
  color: #f4f4f4;
}

div.doublebutton p {
  padding-left: 30px;
}

.op {
  background-color: #f59700;
  color: #f4f4f4;
}

.op:active {
  font-weight: bold;
  background-color: #eeba66;
}

.eq {
  background-color: #f59700;
  color: #f4f4f4;
}

.eq:active {
  font-weight: bold;
  background-color: #eeba66;
}

.digit {
  background-color: #343434;
  color: white;
}

.digit:active {
  background-color: #747373;
  font-weight: bold;
}

.calfunction {
  background-color: #9e9e9e;
}

.calfunction:active {
  background-color: #dbdada;
  font-weight: bold;
}

hr {
  border: 1px solid #efeeef;
  border-radius: 40px;
  background-color: #efeeef;
  width: 150px;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 50px;
}

footer {
  padding: 50px;
}

footer h3 {
  color: #eeba66;
  padding-bottom: 15px;
}

footer p {
  color: #f59700;
  padding: 20px;
  font-size: 25px;
}

.fa-github {
  font-size: 48px;
  color: #f4f4f4;
}

footer .footer {
  color: #dbdada;
  padding: 0px;
  font-size: 16px;
}

div#logos {
  padding: 15px;
}
